@using System.Security.Claims
@using Users.Models
@model Blogs.Models.Blog

@{
    ViewData["Title"] = "Details";
    var userId = ViewData["UserId"] as string;
}

<h1>Details</h1>
<div class="blogWrapper">
    <div class="blog">
        <img src="~/@Model.ImagePath" alt="Image" />
        <div class="blogTxt">
            <p>@ViewData["Date"]</p>
            <h3>@Html.DisplayFor(model => model.Title)</h3>
            <p>@Html.DisplayFor(model => model.Description)</p>
            @if (User.Identity != null)
            {
                @if (User.Identity.IsAuthenticated && Model.UserId == userId)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                }
            }
        </div>
        <div style="text-align: center;">
            <a asp-action="Index">Back to Main</a>
        </div>
    </div>
</div>