@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Blogs" asp-action="Index" style="text-decoration: none; color: currentColor;">
        <h1 class=" display-4">My Blog</h1>
        <h2>Adventures in code.</h2>
    </a>
    <section>
    </section>
</div>
