.blogs[b-e7zxat9gf2] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vmin, 1fr));
  width: 100%;
  justify-items: center;
  gap: 2rem;
}
.blog[b-e7zxat9gf2] {
  position: relative;
  padding: 1rem 0 0 0;
  border: 2px solid rgba(116, 125, 136, 0.2);

  & img {
    width: 100%;
  }
}
