a {
  color: currentColor;
  width: fit-content;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
  &:hover,
  &:focus-visible {
    color: darkviolet;

    border-bottom: 3px solid currentColor;
  }
}
.recipeHead {
  margin-top: 4rem;
  & > * {
    padding-top: 2rem;
  }
  & .btn {
    border: 1px solid currentColor;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 1;
    transition: opacity 1s ease;
    &:hover {
      opacity: 0.5;
    }
  }
  & h1 {
    padding: 0;
    margin-block: 10px;
    transform: skew(5deg, 5deg) rotate(5deg);
    justify-self: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.searches {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  & > * {
    margin-bottom: 1rem;
  }
  & p {
    margin: 0;
  }
}
.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vmin, 1fr));
  width: 100%;
  justify-items: center;
  align-items: anchor-center;
  gap: 2rem;
  margin-top: 4rem;
}
.nav-link {
  margin-top: 3px;
  border-bottom: 3px solid transparent;
  transition: border-color 1s ease;
  width: max-content;
  &:hover {
    border-color: currentColor;
  }
}
.blog {
  position: relative;
  max-width: 50ch;
  padding: 1rem;

  & img {
    width: 100%;
    border-radius: 10px;
  }
  & .blogTxt {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    & * {
      padding: 1rem;
    }
  }
}
.blogWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & .blog {
    position: relative;
    max-width: 80ch;
  }
}
.pageBtns {
  width: fit-content;
  margin-inline: auto;
}
